@import '../utilities/variables.css';

/* Background color for the form page */
body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* Container for the test run form */
.test-run-container {
  padding: 20px;
  /* background-color: #f5f5f5; */
}

/* Main form styling */
.test-run-form {
  margin-top: 60px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title of the form */
.test-run-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

/* Form group styling for inputs and labels */
.test-run-form-group {
  margin-bottom: 20px;
}

/* Input fields styling */
.test-run-input,
.test-run-select,
.test-run-textarea {
  width: 100%;
  padding: 8px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Textarea styling */
.test-run-textarea {
  height: 100px;
  resize: vertical;
}

/* Label styling */
.test-run-label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

/* Required field asterisk */
.test-run-required {
  color: red;
}

/* Test case selection section */
.test-run-case-selection {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Radio button and label styling */
.test-run-case-selection div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.test-run-radio-label {
  margin-left: 8px;
  color: black;
}

/* Form buttons container */
.test-run-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Button styling */
.test-run-button {
  width: 150px;
  height: 40px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
.test-run-button:hover {
  background-color: #5DA9E9;
}

/* Cancel button styling */
.test-run-cancel {
  background-color: #dc3545;
}

.test-run-cancel:hover {
  background-color: #FAA0A0;
}