@import '../utilities/variables.css';

/* Background color for the form page */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  color: black;
}

/* Container for the test run form */
.test-run-container {
  padding: 20px;
  /* margin-top: 100px; Space for the header */
  background-color: #e6f3ff; 
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling */
  height: calc(100vh - 60px); /* Full screen height minus header */
  width: 100%; /* Ensure full width */
}

/* Main form styling */
.test-run-form {
  margin-top: 100px;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;;
  border-radius: 10px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Title of the form */
.add-test-run-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

/* Form group styling for inputs and labels */
.test-run-form-group {
  margin-bottom: 20px;
}

/* Input fields styling */
.test-run-input,
.test-run-select,
.test-run-textarea {
  width: 100%;
  padding: 8px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Textarea styling */
.test-run-textarea {
  height: 100px;
  resize: vertical;
}

/* Label styling */
.test-run-label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

/* Required field asterisk */
.test-run-required {
  color: red;
}

/* Test case selection section */
.test-run-case-selection {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Radio button and label styling */
.test-run-case-selection div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.test-run-radio-label {
  margin-left: 8px;
  color: black;
}


/* Form buttons container */
.test-run-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Button styling */
.test-run-button {
  width: 150px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
.test-run-button:hover {
  background-color: #90ee90;
}

/* Cancel button styling */
.test-run-cancel {
  background-color: #dc3545;
}

.test-run-cancel:hover {
  background-color: #FAA0A0;
}

/* Image preview section */
.image-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 0px;
}

.image-container {
  position: relative;
}

.preview-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.remove-image-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(255, 0, 0, 0.7);
  border: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 5px;
  font-size: 10px;
}

.remove-image-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.add-test-run-filter-selection {
  border: 1px solid #d1d1d1;
  padding: 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  font-size: 13px;
}

.add-test-run-filter-clickable-text {
  cursor: pointer;
  color: #007bff; /* Link color */
  text-decoration: underline;
}

.add-test-run-filter-text {
  margin-left: 5px;
}

.add-test-run-filter-clickable-text:hover {
  color: #0056b3;
}

.add-references-add-run-form {
  margin-left: auto;
  text-decoration: underline;
  margin-top: 0px;
}

.references-add-run-form-grp {
  display: flex;
  margin-bottom: 5px;
}

.test-run-radio-label-description {
  font-size: 12px;
  margin-left: 0px;
  color: rgb(125, 122, 122);
}