body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

.dashboard-container {
  font-family: Arial, sans-serif;
  width: 100%;
  overflow: hidden;
}

.dashboard-header {
  display: flex;
  align-items: center;
  background-color: #1d3557;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.dashboard-header img {
  height: 50px;
  margin-right: 20px;
}

.dashboard-header h2 {
  color: white;
  margin: 0;
}

.options {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 4px;
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5rem;
  min-width: 150px;
  z-index: 1;
}

.dropdown-menu div {
  padding: 0.5rem;
  cursor: pointer;
}

.dropdown-menu div:hover {
  background-color: #f1f1f1;
}

.nav-link {
  color: white;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
}

.chart-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-top: 80px; /* Space for the header */
  padding: 20px;
  gap: 50px;
}

.chart {
  width: 70%;
  height: auto;
}

.dashboard-legend {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.dashboard-legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dashboard-legend-color {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

.dashboard-legend-text {
  margin-left: 5px;
  color: black;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.projects, .dashboard-todo {
  flex: 1;
  background-color: #f7faff;
  border: 1px solid #dde1e4;
  color: #333;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  max-height: 400px; /* Set a max height for scrollable content */
}

.scrollable-container {
  overflow-y: auto;
}

.projectName {
  background-color: transparent;
  color: #007bff;
  font-size: 17px;
  text-decoration: none;
  display: block;
}

.projectName:hover {
  text-decoration: underline;
}

.dashboard-details {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}

.dashboard-details h3, p {
  margin: 0;
  margin-left: 15px;
}
