@import '../utilities/variables.css';

body {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .Milestones-container {
    font-family: Arial, sans-serif;
    width: 1680px;
    color: black;
  }
  
  .milestones-heading{
    margin-left: 30px;
  }
  
  .milestone-main-heading {
    align-items: center;
    position: absolute;
    width: 100%;
    top: 100px;
    left: 30px;
    margin-bottom: 0;
    color: black;
    display: flex;
  }

  .button-class {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    /* color: white; */
  }

  .milestone-main-heading button {
    color: white;
    width: auto;
    height: auto;
  }

  .milestone-add-button {
    /* color: white; */
    background-color: #4CAF50;
  }

  .milestone-delete-button {
    background-color: #dc3545;
  }

  .milestone-add-button:hover {
    background-color:  #90ee90;
  }

  .milestone-delete-button:hover {
    background-color: #FAA0A0;
  }

  .milestone-listing {
    position: absolute;
    top: 150px;
    width: 100%;
  }

  .scrollable-container {
    overflow-y: auto;
  }
  

  .milestones-scrollable{
    color: black;
    margin-right: 30px;
    margin-left: 30px;
    left: 30px;
    margin-bottom: 0;
    gap: 50px;
    overflow-y: auto;
    max-height: 250px; 
    
  }

  .milestones-open, .milestones-completed {
    background-color: #f7faff;
    height: 350px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .milestoneName {
    background-color: transparent;
    color: black;
    width: 100px; /* You may want to adjust or remove this depending on your layout needs */
    font-size: 17px;
    display: inline; /* Ensures that the text is inline */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
}

  .details {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 5px;
    right: 30px;
    display: flex;
    gap: 15px;
    
  }

  .details h3, p {
    margin-left: 15px;
  }

  .details a {
    margin-top: 0.5px;
  }

  .status-bar {
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    width: 10%;
    height: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 2px;
  }
  
  .status-bar-inner {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px; 
  }
  
  .status-52 {
    width: 52%;
  }
  
  .status-6 {
    width: 6%;
  }

  .milestones-completed-datewise {
    margin-bottom: 20px;
  }
  
  .milestones-completed-date {
    margin-bottom: 10px;
  }