body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: black;
  }

.progress-mainclass {
    padding: 20px;
    margin-top: 100px; /* Space for the header */
    background-color: #e6f3ff;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 60px); /* Full screen height minus header */
    width: 100%; /* Ensure full width */
}

.progress-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.progress-options {
    display: flex;
    gap: 30px;
}

.progress-options a {
    color: black;
}

.progress-control-button button{
    width: 100px;
    height: 40px;
}

.progress-controls {
    display: flex;
    gap: 30px;
}

.progress-control-button {
    margin-left: auto;
    display: flex;
    gap: 30px;
    margin-right: 5px;
}

.progress-details {
    display: flex;
    gap: 0px;
    width: auto;
    margin-right: 5px;
    background-color: white;
}

.progress-details-chart {
    background-color: white;
    height: auto;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-chart-download button{
    width: auto;
    margin-left: 30px;
}

.progress-details-legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    font-size: 14px;
  }
  
  .progress-legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .progress-legend-color {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .progress-legend-text {
    margin-left: 5px;
    color: black;
    width: 500px;
  }

  .progress-details-class {
    margin-right: 5px;
  }

.progress-details-section {
    display: flex;
    gap: 800px;
}

.progress-expected-date {
    margin-right: 30px;
}

.progress-expected-date-info {
    width: 30%;
}

hr {
    width: auto;
    margin-right: 5px;
}

table {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 30px;
}

td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    border-bottom: 1px solid #ddd;
    background-color: rgb(202, 202, 202);
}

.progress-testrun-class {
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 30px;
}

.scrollable-container {
    overflow-y: auto;
}

.progress-testrun-details {
    display: flex;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.progress-testrun-forecast {
    margin-left: auto;
    margin-right: 30px;
}