.defects-mainclass {
    display: flex;
    flex-direction: column;
    color: black;
    margin-left: 30px;
}

.defects-header {
    display: flex;
    flex-direction: column;
}

.defects-options {
    display: flex;
    gap: 30px;
}

.defects-options a {
    color: black;
}

.defects-control-button button{
    width: 100px;
    height: 40px;
}

.defects-controls {
    display: flex;
    gap: 30px;
}

.defects-control-button {
   margin-left: auto;
   display: flex;
   gap: 30px;
   margin-right: 30px;
}

.defects-details {
    display: flex;
    gap: 30px;
    width: auto;
    margin-right: 30px;
    margin-bottom: 30px;
}


.defects-details-chart, .defects-details-number {
    background-color: white;
    height: auto;
    width: 50%;
    padding: 20px;
}

.defects-testrun-details {
    background-color: white;
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
}

.defects-testrun-number {
    margin-left: auto;
    margin-right: 30px;
}


.defects-details-individual {
    background-color: white;
    display: flex;
    gap: 0px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.defects-doneby {
    margin-left: auto;
    margin-right: 30px;
}

.defects-status-bar-failed {
    background-color: red;
    border-radius: 8px;
    width: 60px;
    height: 30px;
}
