.tests-results-container {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-left: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  overflow-y: auto;
}

.test-case-details-content {
  flex: 4; /* Increase the flex value to cover more space */
  margin-right: 20px;
}

.test-case-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.test-case-id {
  background-color: #8a94a6;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 10px;
}

.test-case-name {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.breadcrumb-nav {
  margin-bottom: 20px;
}

.breadcrumb-link {
  color: #428bca;
  text-decoration: none;
  font-weight: bold;
}

.results-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 200px;
}

.results-graph {
  flex: 2; /* Increase width */
  max-width: 600px; /* Adjust width as needed */
  margin-right: 20px; /* Add margin for spacing */
  padding-left: 200px;
}

.results-graph canvas {
  width: 100% !important; /* Ensure the canvas takes full width */
  height: 100% !important;
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-status-summary {
  flex: 1;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.results-status-summary span {
  font-weight: bold;
}

.results-status-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.results-status-summary li {
  margin: 5px 0;
}

.passed {
  color: #5cb85c;
}

.blocked {
  color: #f0ad4e;
}

.retest {
  color: #5bc0de;
}

.failed {
  color: #d9534f;
}

.comments,
.partial {
  color: #777;
}

.test-results-list-scroll {
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow-y: auto;
  height: 400px; /* Increase height */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 100%; /* Make it responsive */
}

.test-results{
  padding: 15px;
}

.result-month {
  margin-bottom: 20px;
}

.result-month h3 {
  font-size: 14px; /* Shortened font size for months */
  margin: 0 0 10px;
}

.result-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result-item .status {
  font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}

.result-item .passed {
  background-color: #5cb85c;
}

.result-item .blocked {
  background-color: #f0ad4e;
}

.result-item .retest {
  background-color: #5bc0de;
}

.result-item .failed {
  background-color: #d9534f;
}

.result-item .comments,
.result-item .partial {
  background-color: #777;
}

.test-id {
  color: #428bca;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.test-suite {
  color: #777;
  margin-right: 10px;
}

.release {
  color: #428bca;
  margin-right: 10px;
}

.tested-by {
  color: #666;
}