/* --------------- */
/* Batool App.css */
/* ---------------- */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* ---------------- */
/* Farhan App.css */
/* ----------------- */

/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e6f3ff; /* same background color for the entire page */
}

.main-content {
  display: flex;
  flex: 1;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #5DA9E9;
}

header {
  background-color: #003366;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: white;
  margin-right: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
}

/* App.css */
body, html, .app {
  background-color: #e6f3ff;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-content, .bottom-content {
  background-color: inherit;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #5DA9E9;
}
