.todos {
<<<<<<< HEAD
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  width: 45%;
}

.scrollable-container {
  overflow-y: auto;
}
=======
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    width: 45%;
  }

  .scrollable-container {
    overflow-y: auto;
  }
  
  .todo-listing {
    flex: 1;
    background-color: #f7faff;
    border: 1px solid #dde1e4;
    color: #333;
    border-radius: 5px;
    padding: 20px;
    height: 470px;
    
  }
>>>>>>> origin/main

.todo-listing {
  flex: 1;
  background-color: #f7faff;
  border: 1px solid #dde1e4;
  color: #333;
  border-radius: 5px;
  padding: 20px;
 
}

.todo-details {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
}

.todos-scrollable-list {
  overflow-y: auto;
  max-height: 400px; 
}
